.btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;

  width: 274px;
  padding-top: 14px;
  padding-bottom: 17px;

  background-color: transparent;

  border-radius: 30px;
  border: 3px solid;

  cursor: pointer;

  &--download {
    color: @white;

    border-color: @white;
  }

  &--download:hover,
  &--download:focus {
    color: @pink;

    border-color: @white;
    background-color: @white;
  }

  &--download:active {
    color: @transparent-pink;

    border-color: @white;
    background-color: @white;
  }

  &--slider-toggle {
    position: relative;
    width: 6px;
    height: 6px;
    padding: 0;

    background-color: @gray;
    border: none;
    border-radius: 50%;
    margin: 9px;
  }

  &--slider-toggle:hover,
  &--slider-toggle:focus {
    background-color: @dark-gray;
  }

  &--slider-toggle:active {
    background-color: @light-gray;
  }

  &--slider-toggle:active::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;

    width: 6px;
    height: 6px;

    background-color: @dark-gray;
    border: 3px solid @navy;
    border-radius: 50%;
  }

  &--slider-control {
    width: 22px;
    height: 41px;
    background-color: transparent;
    border: none;
  }

  &--crop,
  &--fill,
  &--contrast {
    width: 50px;
    height: 50px;
    padding: 0;

    border: none;
    border-radius: 0;
  }

  &--active {
    fill: @pink;
  }

  &--post {
    width: 280px;
    color: @pink;
    border-color: @pink;
  }

  &--cancel {
    width: 280px;
    color: @gray;
    border-color: @gray;
  }

  &--send-form,
  &--modal {
    text-transform: uppercase;
    color: @white;

    padding-top: 22px;
    padding-bottom: 23px;

    background-color: @btn-green;
    border: none;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: @btn-dark-green;
    }

    &:active {
      color: @transparent-pink;
    }

    &:disabled {
      color: @white;
      background-color: @gray;
    }
  }
}

.btn__icon {
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
    fill: @pink;
  }

  &--crop {
    opacity: 1;
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: @tablet-width) {
  .btn {
    &--download {
      width: 294px;
    }

    &--post {
      width: 260px;
    }

    &--cancel {
      width: 260px;
    }

    &--send-form {
      width: 300px;
    }

    &--crop,
    &--fill,
    &--contrast {
      width: 24px;
      height: 24px;
    }
  }

  .btn__icon {
    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 25px;
      height: 25px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: @desktop-width) {
  .btn {
    &--download {
      font-size: 21px;
    }
  }
}
