.contacts {
  position: relative;

  background-color: @white;
}

.contacts__container {
  .container();
  padding-top: 42px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  width: 222px;
  margin: 0;
}

.contacts__group {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 37px;
}

.contacts__item {
  padding-top: 21px;
  width: 280px; /* IE11 fix */

  &--phone b {
    padding-left: 98px;
  }

  &--phone p {
    padding-left: 37px;
  }

  &--email b {
    padding-left: 101px;
  }

  &--email p {
    padding-left: 22px;
  }

  &--address b {
    padding-left: 42px;
  }

  &--address address {
    text-align: center;
    padding-left: 0;
    padding-top: 2px;
  }
}

.contacts__option-name {
  font-size: 18px;
  color: @navy;
}

.contacts__option-text {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  color: @pink;

  margin: 0;

  &--email:hover,
  &--email:focus {
    color: @navy;
  }

  &--email:hover::after,
  &--email:focus::after {
    content: "";
    position: absolute;

    height: 1px;
    width: 239px;
    background-color: @navy;

    bottom: -1px;
    left: 23px;
  }

  &--email:active {
    color: rgba(40, 54, 69, 0.3);
  }

  &--email:active::after {
    display: none;
  }
}

.contacts__address .contacts__option-text {
  padding-bottom: 43px;
}

@media (min-width: @tablet-width) {
  .contacts__container {
    padding: 0;
  }

  .contacts__group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    padding-top: 0;
    padding-bottom: 28px;
  }

  .contacts__item {
    width: 50%;
    padding-top: 45px;

    &--phone b {
      padding-left: 107px;
    }

    &--phone p {
      padding-left: 47px;
      padding-top: 1px;
    }

    &--email b {
      padding-left: 119px;
    }

    &--email p {
      padding-left: 40px;
      padding-top: 3px;
    }

    &--address b {
      padding-left: 57px;
    }

    &--address address {
      width: 212px;
      text-align: center;
      padding-left: 50px;
      padding-top: 2px;
    }
  }

  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    width: 370px;

    margin: 0;
    padding-top: 47px;
  }

  .contacts__option-text {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;

    &--email:hover::after,
    &--email:focus::after {
      left: 42px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    width: 462px;
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .contacts__group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    padding-bottom: 20px;
  }

  .contacts__item {
    width: 33%;
    padding-top: 40px;

    &--phone {
      order: 1;
    }

    &--phone b {
      padding-left: 103px;
    }

    &--phone p {
      padding-left: 43px;
      padding-top: 21px;
    }

    &--address {
      order: 2;
    }

    &--address address {
      width: 212px;
      padding-left: 48px;
      padding-top: 21px;
    }

    &--email {
      order: 3;
    }

    &--email b {
      padding-left: 124px;
    }

    &--email p {
      padding-left: 45px;
      padding-top: 23px;
    }
  }

  .contacts__option-text {
    &--email:hover::after,
    &--email:focus::after {
      left: 46px;
    }
  }
}
