.daily-special {
  position: relative;
  background-color: @white;

  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.daily-special__inner-wrapper {
  display: flex;
  flex-wrap: wrap;

  &--picture {
    position: relative;
    justify-content: center;
    cursor: pointer;
  }

  &--picture::after {
    content: "Панорама дня";
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: @white;

    position: absolute;
    top: 0;
    left: 50%;

    width: 122px;
    height: 30px;

    padding-left: 19px;
    padding-top: 6px;

    background-color: @pink;
  }

  &--text {
    position: relative;
    width: 280px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: -7px;
    padding-top: 16px;
    padding-bottom: 18px;
    color: @navy;
    background-color: @light-gray;
  }
}

.daily-special__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @navy;

  padding-left: 18px;
  padding-top: 2px;
}

.daily-special__author span {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.daily-special__description {
  margin: 0;
  padding-left: 18px;
  padding-right: 13px;
}

.daily-special__description span {
  display: none;
}

.daily-special__reaction {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @pink;

  margin: 0;
  margin-right: 141px; /* Заплатка для IE11 */
  padding-left: 49px;
  padding-top: 10px;
}

.daily-special__reaction-btn {
  position: absolute;
  left: 38px;
  bottom: 24px;
  width: 13px;
  height: 12px;
  border: none;
  background-color: transparent;
}

.daily-special__reaction-icon {
  position: absolute;
  top: -1px;
  left: -20px;

  width: 13px;
  height: 12px;

  fill: @pink;
}

@media (min-width: @tablet-width) {
  .daily-special img {
    width: 700px;
    height: 510px;

    transform: translateX(0);
  }

  .daily-special__inner-wrapper {
    &--picture::after {
      top: 58px;
      left: 75.7%;
    }

    &--text {
      width: 620px;
      padding-top: 23px;
      padding-bottom: 24px;
    }
  }

  .daily-special__author {
    margin: 0;
    padding-left: 28px;
    padding-top: 0;
    order: 1;
  }

  .daily-special__reaction {
    margin: 0;
    padding-top: 0;
    padding-right: 60px;
    order: 2;
  }

  .daily-special__reaction-btn {
    left: 598px;
    bottom: 79px;
  }

  .daily-special__description {
    padding-left: 28px;
    order: 3;
  }

  .daily-special__description span {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .daily-special {
    &::after {
      top: 54px;
      right: 129px;
    }
  }

  .daily-special__inner-wrapper {
    &--picture::after {
      top: 53px;
      left: 77.5%;
    }

    &--text {
      width: 940px;
    }
  }

  .daily-special img {
    width: 1200px;
    height: 506px;

    transform: translateX(0);
  }

  .daily-special__reaction {
    padding-right: 62px;
  }

  .daily-special__reaction-btn {
    left: 896px;
    bottom: 55px;
  }


  .daily-special__reaction-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}
