.daily-special {
  position: relative;
  background-color: @white;

  width: 320px;
  overflow: hidden;
  margin: 0 auto;

  &::after {
    content: "Панорама дня";
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: @white;

    position: absolute;
    top: 0;
    right: 19px;

    width: 122px;
    height: 30px;

    padding-left: 19px;
    padding-top: 6px;

    background-color: @pink;
  }
}

.daily-special__inner-wrapper {
  &--picture {
    cursor: pointer;
  }

  &--text {
    .container();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -7px;
    padding-top: 16px;
    padding-bottom: 18px;
    color: @navy;
    background-color: @light-gray;
  }
}

.daily-special__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @navy;

  padding-left: 18px;
  padding-top: 2px;
}

.daily-special__author span {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.daily-special__description {
  margin: 0;
  padding-left: 18px;
}

.daily-special__reaction {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @pink;

  margin: 0;
  padding-left: 49px;
  padding-top: 10px;
}

.daily-special__reaction-btn {
  position: absolute;
  left: 38px;
  bottom: 24px;
  width: 13px;
  height: 12px;
  border: none;
  background-color: transparent;
}

.daily-special__reaction-icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 13px;
  height: 12px;

  fill: @pink;
}

@media (min-width: @tablet-width) {
  .daily-special {
    width: 660px;

    &::after {
      top: 57px;
    }
  }

  .daily-special img {
    width: 700px;
    height: 510px;

    transform: translateX(-20px);
  }

  .daily-special__inner-wrapper {
    &--text {
      padding-top: 23px;
      padding-bottom: 24px;
    }
  }

  .daily-special__author {
    margin: 0;
    padding-left: 28px;
    padding-top: 0;
    order: 1;
  }

  .daily-special__reaction {
    margin: 0;
    padding-top: 0;
    padding-right: 60px;
    order: 2;
  }

  .daily-special__reaction-btn {
    left: 598px;
    bottom: 79px;
  }

  .daily-special__description {
    padding-left: 28px;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .daily-special {
    width: 1200px;

    &::after {
      top: 54px;
      right: 129px;
    }
  }

  .daily-special img {
    width: 1200px;
    height: 506px;

    transform: translateX(0);
  }

  .daily-special__reaction-btn {
    left: 1026px;
    bottom: 55px;
  }
}
