.feature {
  min-height: 828px;
  text-align: center;/*
  background-color: @light-gray;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: bottom center;
  background-repeat: no-repeat;*/
}

.feature__container {
  .container();
  padding-top: 83px;
  padding-bottom: 36px;
}

.feature__wrapper {
  display: flex;
  flex-direction: column;
}

.feature__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;

  margin: 0;
  padding-bottom: 12px;
}

.feature__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;
  padding-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .feature {
    min-height: 486px;
    text-align: left;
  }

  .feature__container {
    padding-top: 57px;
    padding-bottom: 0;
  }

  .feature__wrapper {
    position: relative;
    padding-left: 310px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -56px;

      width: 270px;
      height: 485px;

      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-position: bottom center;
      background-repeat: no-repeat;
    }
  }

  .feature__title {
    padding-top: 18px;
    padding-bottom: 12px;
  }

  .feature__description {
    padding-bottom: 17px;
  }
}

@media (min-width: @desktop-width) {
  .feature {
    background-image: none;
  }

  .feature__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .feature__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;

    &::before {
      display: none;
    }
  }

  .feature__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    text-align: center;

    width: 300px;
    padding-top: 337px;
  }

  .first-block::before,
  .second-block::before,
  .third-block::before {
    content: "";
    position: absolute;
    width: 292px;
    height: 302px;

    bottom: 277px;

    background-repeat: no-repeat;
  }

  .first-block::before {
    left: 4px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .second-block::before {
    left: 7px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .third-block::before {
    left: 7px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .feature__title {
    font-size: 30px;
    line-height: 30px;

    padding-bottom: 24px;
  }

  .feature__description {
    font-size: 18px;
    line-height: 30px;

    width: 240px;
  }
}
