.photo-editor {
  background-color: @light-gray;
}

.photo-editor__container {
  .container();
  padding-top: 20px;
  padding-bottom: 41px;
}

.photo-editor__btn-group1 {
  display: flex;
  justify-content: space-between;

  padding-top: 34px;
  padding-bottom: 40px;
  padding-left: 33px;
  padding-right: 37px;
}

.photo-editor__btn-group2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 64px; /* Временно для ПП */
}

@media (min-width: @tablet-width) {
  .photo-editor__container {
    padding-top: 56px;
  }

  .photo-editor__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .photo-editor__wrapper-inner img {
    width: 300px;
  }

  .photo-editor__wrapper-inner {
    width: 300px;

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 0;
    }
  }

  .photo-editor__title {
    font-size: 18px;
  }

  .photo-editor__btn-group1 {
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .photo-editor {
    background-color: @white;
  }

  .photo-editor__container {
    padding-bottom: 52px;
    background-color: @light-gray;
  }

  .photo-editor__wrapper {
    padding-left: 80px;
    padding-right: 60px;
  }

  .photo-editor__wrapper-inner {
    &:first-child {
      width: 300px; /* Возможно, не нужна */
    }

    &:last-child {
      width: 410px;
    }
  }

  .photo-editor__wrapper-inner img {
    width: 300px;
    height: 400px;
  }

  .photo-editor__btn-group1 {
    padding: 0;
  }

  .photo-editor__btn-group2 {
    flex-direction: row;
  }
}
