.research {
  display: none;
  color: @black;

  background-color: @white;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
  }

  .research__container {
    .container();
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .research__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 60px;
  }

  .research__picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "24";
      position: absolute;
      top: 77px;
      left: 65px;

      font-size: 96px;
      font-weight: 700;
      line-height: 150px;
      color: @pink;
    }
  }

  .research__picture-part-1 {
    position: absolute;
    left: 1px;
    top: 0;
  }

  .research__picture-part-2 {
    position: absolute;
    left: 19px;
    top: 56px;
  }

  .research__picture-part-1 svg {
    fill: @middle-gray;
  }

  .research__picture-part-2 svg {
    fill: @pink;
  }

  .research__info {
    width: 50%;
    padding-top: 37px;
  }

  .research__title {
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;

    width: 170px;
    margin: 0;
  }

  .research__title span {
    display: block;
  }

  .research__description {
    font-size: 14px;
    line-height: 24px;

    width: 99%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .research__description-detail2 {
    display: block;
    font-weight: 400;
  }

  .research__link {
    color: @pink;
    border-bottom: 1px solid @pink;
  }
}

@media (min-width: @desktop-width) {
  .research {
    display: block;

    background-color: @light-gray;
  }

  .research__container {
    .container();
    padding-bottom: 86px;
  }

  .research__wrapper {
    padding-top: 91px;
    padding-bottom: 30px;
  }

  .research__picture {
    &::before {
      top: 24px;
      left: 80px;

      font-size: 120px;
    }
  }

  .research__picture-part-1 {
    left: -25px;
    top: -91px;
  }

  .research__picture-part-2 {
    left: 23px;
    top: -21px;
  }

  .research__picture-part-1 svg {
    width: 350px;
    height: 345px;
  }

  .research__picture-part-2 svg {
    width: 253px;
    height: 253px;
  }

  .research__info {
    width: 573px;
    padding-top: 0;
  }

  .research__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;

    width: auto;
    margin: 0;
  }

  .research__title span {
    display: inline;
  }

  .research__description {
    font-size: 18px;
    line-height: 30px;

    padding-top: 22px;
    padding-bottom: 10px;
  }

  .research__description-detail2 {
    display: inline;
  }

  .research__description-detail1 {
    display: block;
    font-style: normal;
  }

  .research__description-detail3 {
    display: block;
  }

  .research__link {
    display: inline-block;
    font-size: 18px;

    padding-top: 22px;
  }
}
