.review {
  position: relative;

  background-color: @white;
}

.review::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-top: 30px solid white;
  border-right: 320px solid transparent;
  border-bottom: 30px solid transparent;
}

.review__container {
  .container();
}

.review__item {
  display: flex;
  flex-direction: column;

  text-align: center;

  padding-top: 42px;
  margin: 0;
}

.review__item:nth-of-type(2),
.review__item:nth-of-type(3) {
  display: none;
}

.review__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.review__author-info {
  display: none;
}

.review__text {
  line-height: 30px;

  margin: 0;
  padding-top: 14px;
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .review__author {
    font-size: 20px;
    order: 1;
  }

  .review__text {
    width: 617px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
  }

  .review__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    order: 2;
  }
}
