.slider__toggle {
  position: relative;
  width: 6px;
  height: 6px;
  padding: 0;

  border: none;
  border-radius: 50%;
  margin: 9px;

  background-color: @gray;

  &--active {
    border: none;
    width: 6px;
    height: 6px;
  }

  &--active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 12px;
    height: 12px;

    background-color: @dark-gray;
    border: 3px solid @navy;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__toggles-wrapper {
  position: relative;
  display: flex;

  &:hover,
  &:focus {
    .slider__toggle {
      background-color: @dark-gray;
    }
  }

  &:active {
    .slider__toggle {
      background-color: @light-gray;
    }
  }
}

.slider__control {
  display: none;
}

.slider__control-icon {
  display: none;
}

@media (min-width: @desktop-width) {
  .slider__toggles-wrapper {
    display: none;
  }

  .slider__control {
    display: inline-block;
    position: absolute;

    &--left {
      top: 200px;
      left: -6px;
    }

    &--right {
      top: 200px;
      right: 0;
    }
  }

  .slider__control-icon {
    display: inline-block;
    fill: @navy;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
