.social-copyright {
  background-color: @white;
}

.social-copyright__container {
  .container();
  padding-top: 27px;
  padding-bottom: 30px;

  &--photo {
    padding-top: 38px;
  }
}

.social-copyright__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scopyright__link-image {
  fill: @pink;
}

@media (min-width: @tablet-width) {
  .social-copyright__container {
    padding-top: 16px;
    padding-bottom: 33px;
  }

  .social-copyright__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .social-copyright__container {
    &--index {
      padding-top: 55px;
      padding-bottom: 72px;
    }

    &--photo {
      padding-top: 90px;
      padding-bottom: 70px;
    }
  }
}
