.social-copyright {
  background-color: @white;
}

.social-copyright__container {
  .container();

  &--photo {
    padding-top: 40px;
    padding-bottom: 32px;
  }

  &--form {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.social-copyright__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-copyright__logo {
  &--mobile {
    color: @navy;

    &:hover,
    &:focus {
      color: @pink;
    }

    &:active {
      color: @navy;
      opacity: 0.3;
    }
  }

  &--desktop {
    display: none;
  }
}

.social-copyright__social {
  margin-top: 26px;
}

.social-copyright__copyright {
  margin-top: 24px;
}

@media (min-width: @tablet-width) {
  .social-copyright__container {
    &--index {
      padding-top: 22px;
      padding-bottom: 35px;
    }

    &--photo {
      padding-top: 22px;
      padding-bottom: 30px;
    }

    &--form {
      padding-top: 71px;
      padding-bottom: 33px;
    }
  }

  .social-copyright__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-copyright__social {
    margin-top: 11px;
    margin-right: 18px;
  }

  .social-copyright__copyright {
    margin-top: 2px;
  }
}

@media (min-width: @desktop-width) {
  .social-copyright__container {
    &--index {
      padding-top: 57px;
      padding-bottom: 66px;
    }

    &--photo {
      padding-top: 83px;
      padding-bottom: 65px;
    }

    &--form {
      padding-top: 54px;
      padding-bottom: 72px;
    }
  }

  .social-copyright__social {
    margin-top: 11px;
    margin-right: 0;
    margin-left: 7px; /*Возможно, для формы отступ 15px*/
  }
}
