.tarif {
  background-color: @light-gray;
}

.tarif__container {
  .container();
}

.tarif__wrapper {
  display: table;
  justify-content: center;
  align-items: center;
}

.tarif__list {
  display: table-row;
  background-color: @white;
  border-collapse: collapse;
}

.tarif__item {
  display: table-cell;
}

.tarif__name {
  display: table-cell;

  text-transform: uppercase;
  color: @white;/*
.tarif__name {
  display: table-cell;
  text-transform: uppercase;
  color: @white;

  width: 25%;
  border: 2px solid @navy;

  padding-top: 13px;
  padding-bottom: 9px;

  background-color: @navy;

  &:first-child {
    border-left-color: @light-gray;
    border-top-color: @light-gray;
    border-bottom-color: @gray;
    background-color: @light-gray;
  }

  &:nth-child(2),
  &:nth-child(3) {
    border-right-color: @gray;
  }*/
}

.tarif__name span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
/*
.tarif__list td {
  width: 25%;
  border: 2px solid @gray;
}
*/
.tarif__option {
  display: table-cell;/*
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 16px;*/
}

.tarif__option__yes-icon {
  fill: @green;
}

.tarif__option__no-icon {
  fill: @orange;
}

@media (min-width: @tablet-width) {
  .tarif__container {
    padding-top: 88px;
    padding-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .tarif__container { /* Временно для ПП */
    padding-top: 123px;
    padding-bottom: 156px;
  }
}
