.tarif {
  background-color: @light-gray;
}

.tarif__container {
  width: 100%;
  overflow: hidden;
}

.tarif__wrapper {
  justify-content: center;
  align-items: center;
  padding-top: 91px;
}

.tarif__list {
  display: table;
  position: relative;
  width: 260%;
  background-color: @white;
  border-collapse: collapse;

  &--first-slide {
    margin-left: 22px;
  }

  &--second-slide {
    transform: translateX(-30.7%);
  }

  &--third-slide {
    transform: translateX(-64%);
  }
}

.tarif__item {
  display: table-row;
}

.tarif__name {
  display: table-cell;
  padding-top: 17px;
  padding-bottom: 18px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  border: 2px solid @gray;
  background-color: @navy;

  &--hit {
    position: relative;
  }

  &--hit::after {
    content: "Хит";
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(-45deg);
    color: @white;
    position: absolute;
    top: 15px;
    left: 10px;
  }

  &:first-child {
    border-left-color: @light-gray;
    border-right-color: @navy;
    border-top-color: @light-gray;
    background-color: @light-gray;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    border-bottom-color: @navy;
    border-top-color: @navy;
  }

  &:nth-child(2) {
    border-left-color: @navy;
  }

  &:nth-child(4) {
    border-right-color: @navy;
  }
}

.tarif__hit-icon {
  position: absolute;

  &--mobile-desktop {
    top: -2px;
    left: 0;

    width: 74px;
    height: 73px;
  }

  &--tablet {
    display: none;
  }
}

.tarif__name span {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 5px;
}

.tarif__item .tarif__name:first-of-type {
  display: none;
}

.tarif__option {
  text-transform: uppercase;
  display: table-cell;
  position: relative;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 20px;

  border: 2px solid @gray;
}

.tarif__option__yes-icon {
  position: absolute;
  width: 31px;
  height: 21px;
  top: 20px;
  right: 16px;

  fill: @green;
}

.tarif__option__no-icon {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 15px;
  right: 18px;

  fill: @orange;
}

.tarif__item .tarif__option:first-of-type {
  display: none;
}

.tarif__toggles {
  display: flex;
  justify-content: center;

  padding-top: 34px;
  padding-bottom: 41px;
}

@media (min-width: @tablet-width) {
  .tarif__container {
    .container();
    overflow: visible;
    padding-top: 88px;
    padding-bottom: 66px;
  }

  .tarif__wrapper {
    padding-top: 0;
  }

  .tarif__list {
    width: 100%;
    margin: 0 auto;

    &--second-slide,
    &--third-slide {
      transform: translateX(0);
    }
  }

  .tarif__name {
    font-size: 16px;
    width: 25%;
    padding-top: 13px;
    padding-bottom: 8px;

    &--hit::after {
      top: 7px;
      left: 7px;
    }
  }

  .tarif__hit-icon {
    position: absolute;

    &--mobile-desktop {
      display: none;
    }

    &--tablet {
      display: block;

      top: -2px;

      width: 61px;
      height: 61px;
    }
  }

  .tarif__name span {
    font-size: 18px;
    padding-top: 0;
  }

  .tarif__item .tarif__name:first-of-type {
    display: table-cell;
  }

  .tarif__option {
    font-size: 14px;
    text-transform: none;
    width: 25%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 11px;

    &--joint span {
      display: none;
    }
  }

  .tarif__item .tarif__option:first-of-type {
    display: table-cell;
  }

  .tarif__option__yes-icon {
    top: 13px;
    right: 40%;
  }

  .tarif__option__no-icon {
    top: 9px;
    right: 41%;
  }

  .tarif__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tarif {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -80px;
      width: 100%;
      height: 80px;
      background: linear-gradient(to right bottom, transparent 50%, @light-gray 50%) left / 100% 100% no-repeat;
    }
  }

  .tarif__container {
    padding-top: 68px;
    padding-bottom: 95px;
  }

  .tarif__name {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 18px;

    &--hit::after {
      top: 12px;
      left: 12px;
    }
  }

  .tarif__hit-icon {
    position: absolute;

    &--mobile-desktop {
      display: block;
      top: -2px;
      left: 0;

      width: 74px;
      height: 73px;
    }

    &--tablet {
      display: none;
    }
  }

  .tarif__name span {
    font-size: 24px;
    padding-top: 5px;
  }

  .tarif__option {
    font-size: 18px;

    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 18px;
  }

  .tarif__option__yes-icon {
    top: 21px;
    right: 43.8%;
  }

  .tarif__option__no-icon {
    top: 16px;
    right: 44.5%;
  }
}
