.download {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 36px;

  background-color: @navy;
}

.download__btn {
  text-align: center;
  color: @white;

  margin: 0;
  padding: 14px;
  border: 3px solid @white;
  border-radius: 25px;
}

.download__link-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.download__description {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;

  font-weight: 300;
  text-align: center;
  color: @white;
}
