.page-header {
  min-height: 733px;
}

.page-header__wrapper {
  background-color: @navy;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.page-header__wrapper--additional-bg {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: left 112px, center -64px;
  background-repeat: no-repeat;
}

.page-header__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  color: @white;
  margin: 0 auto;
}

.page-header__title--index {
  width: 225px;
  padding-top: 25px;
}

.page-header__title--photo {
  width: 170px;
  padding-top: 32px;
}

.page-header__title--form {
  width: 230px;
  padding-top: 32px;
}

.page-header__download {
  margin-top: 317px;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 729px;
  }

  .page-header__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page-header__wrapper--additional-bg {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: left 435px, center 260px;
    background-repeat: no-repeat;
  }

  .page-header__title {
    font-size: 50px;
  }

  .page-header__title--index {
    font-size: 40px;
    width: 190px;

    margin-top: 100px;
    margin-left: 78px;
    margin-right: auto;
  }

  .page-header__title--photo {
    width: 350px;
  }

  .page-header__title--form {
    width: 475px;
  }

  .page-header__download {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 853px;
  }

  .page-header__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page-header__wrapper--additional-bg {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: left 435px, center 260px;
    background-repeat: no-repeat;
  }

  .page-header__menu-btn {
    display: none;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
  }

  .page-header__title--index {
    width: 235px;

    margin-top: 82px;
    margin-left: 162px;
    margin-right: auto;
  }

  .page-header__title--photo {
    width: 350px;
  }

  .page-header__title--form {
    margin-top: 73px;
    width: 750px;
  }

  .page-header__download {
    margin-left: 116px;
    margin-right: auto;
  }
}
