.promo {
  background-color: @white;
}

.promo__container {
  .container();
  padding-top: 20px;
  padding-bottom: 23px;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__description {
  font-size: 24px;
  line-height: 27px;
  font-weight: 300;
  text-align: center;

  padding-top: 22px;
  padding-bottom: 10px;
  margin: 0;
  width: 205px;
}

@media (min-width: @tablet-width) {
  .promo__description {
    font-size: 40px;
    line-height: normal;
  }

  .promo__description:nth-of-type(1) {
    width: 590px;
  }

  .promo__description:nth-of-type(2) {
    width: 330px;
  }
}

@media (min-width: @desktop-width) {
  .promo__description {
    font-size: 50px;
    line-height: normal;
  }

  .promo__description:nth-of-type(1) {
    width: 735px;
  }

  .promo__description:nth-of-type(2) {
    width: 500px;
  }
}
