.review {
  text-align: center;

  margin-top: -50px;

  background-color: @white;
}

.review__item {
  padding-top: 54px;
}

.review__item:nth-of-type(2),
.review__item:nth-of-type(3) {
  display: none;
}

.review__author {
  font-weight: 700;
  font-style: normal;
}
