@import "variables.less";
@import "page-header.less";
@import "site-navigation-list";
@import "main-nav.less";
@import "page-main.less";
@import "contest";
@import "download.less";
@import "promo.less";
@import "feature.less";
@import "research.less";
@import "review.less";
@import "slider.less";
@import "tarif.less";
@import "photo-gallery.less";
@import "photo-editor.less";
@import "page-footer.less";
@import "map";
@import "social-copyright.less";
@import "social.less";
@import "social-link.less";
@import "contacts.less";
@import "copyright.less";

/*@font-face {
  font-family: "Open Sans";
  src:  url("../fonts/opensans.woff2"),
        url("../fonts/opensansbold.woff2"),
        url("../fonts/opensanslight.woff2");
}*/

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: @navy;
  font-style: normal;

  background-color: @light-gray;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
