.tarif {
  background-color: @light-gray;
  height: 506px; /*временно*/
}

.tarif__container {
  .container();
}

.tarif__list {
  background-color: @white;
  border-collapse: collapse;
}

.tarif__list th,
.tarif__list td {
  border: 2px solid @gray;
}

.tarif__list th:first-child {
  border: none;
}
