@white: #ffffff;
@black: #000000;
@navy: #283645;
@dark-navy: #1d2631;
@pink: #d22856;
@transparent-pink: rgba(210, 40, 86, 0.3);
@light-gray: #f2f2f2;
@gray: #e5e5e5;
@dark-gray: #b5b9be;
@green: #3dc644;
@btn-green: #2aab6d;
@btn-dark-green:#1c9b5e;
@orange: #f25b26;

@tablet-width: 660px;
@desktop-width: 1200px;
