@white: #ffffff;
@black: #000000;
@navy: #283645;
@dark-navy: #1d2631;
@pink: #d22856;
@light-gray: #f2f2f2;
@gray: #e5e5e5;
@dark-gray: #b5b9be;
@green: #3dc644;
@orange: #f25b26;

@tablet-width: 660px;
@desktop-width: 1200px;

.list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container() {
  padding-left: 20px;
  padding-right: 20px;
}

.container-desktop() {
  padding-left: 120px;
  padding-right: 120px;
}
